a{
    color: blue;
    text-decoration: none;
    margin-right: 15px;
}

img{
    /* margin: 10px; */
    padding: 10px;
}

.loading{
    color: red;
    display: flex;
    justify-content: center;
}